<!-- INCLUDE overall_header.html -->
<h2>{L_VERSIONS_OF_ARTICLE}{L_COLON} {ARTICLE_TITLE}</h2>
<p>{L_COMPARE_EXPLAIN}</p>
<form action="{U_ACTION}" method="post">
<div class="forumbg forumbg-table">
	<div class="inner">
		<table class="table1" id="memberlist">
			<thead>
				<tr>
					<th class="thin">{L_FROM}</th>
					<th class="thin">{L_TO}</th>
					<th class="big">{L_ARTICLE}</th>
					<th class="middle">{L_TIME}</th>
					<th class="middle">{L_USER}</th>
					<!-- IF S_DELETE or S_SET_ACTIVE -->
					<th>{L_ACTION}</th>
					<!-- ENDIF -->
				</tr>
			</thead>
			<tbody>
				<tr class="bg1">
					<td colspan ="6">
						<input type="submit" value="{L_COMPARE}" class="button1" name="submit">
					</td>
				</tr>
				<!-- BEGIN version_list -->
				<tr class="<!-- IF version_list.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
					<td><input type="radio" name="from" value="{version_list.ID}"></td>
					<td><input type="radio" name="to" value="{version_list.ID}"></td>
					<td><a href="{version_list.U_VERSION}"><strong>{version_list.ARTICLE_TITLE}</strong></a></td>
					<td>{version_list.EDIT_TIME}</td>
					<td>{version_list.USER}</td>
					<!-- IF S_DELETE or S_SET_ACTIVE -->
					<td>
						<!-- IF S_DELETE -->
						<a href="{version_list.U_DELETE}">[ {L_DELETE} ]</a>
						<!-- ENDIF -->
						<!-- IF S_SET_ACTIVE -->
							<!-- IF version_list.S_ACTIVE -->
								 - <strong>{L_IS_ACTIVE}</strong>
							<!-- ELSE -->
								 - <a href="{version_list.U_SET_ACTIVE}">[ {L_SET_ACTIVE} ]</a>
							<!-- ENDIF -->
						<!-- ENDIF -->
					</td>
					<!-- ENDIF -->
				</tr>
				<!-- END version_list -->
				<tr class="bg1">
					<td colspan ="6">
						<input type="submit" value="{L_COMPARE}" class="button1" name="submit">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

</form>


<div class="action-bar bottom">
	<div class="pagination">
		{TOTAL_ITEMS}
		<!-- IF .pagination -->
			<!-- INCLUDE pagination.html -->
		<!-- ELSE -->
			 &bull; {PAGE_NUMBER}
		<!-- ENDIF -->
	</div>
</div>
<!-- INCLUDE overall_footer.html -->