<!-- INCLUDE overall_header.html -->
<h2>{HEADLINE}</h2>
<div class="panel bg1">
	<div class="inner wiki">
		<div class="content diff">
			<!-- IF DIFF -->
				{DIFF}
			<!-- ELSE -->
				{L_NO_ARTICLE_DIFF}
			<!-- ENDIF -->
		</div>
	</div>
</div>
<h3>{L_SOURCES}</h3>
<div class="panel bg1">
	<div class="inner wiki">
		<div class="content">
			<!-- IF DIFF_SOURCE -->
				{DIFF_SOURCE}
			<!-- ELSE -->
				{L_NO_SOURCE_DIFF}
			<!-- ENDIF -->
		</div>
	</div>
</div>
<!-- INCLUDE overall_footer.html -->