<!-- INCLUDE overall_header.html -->

<!-- IF S_PREVIEW -->
	<div class="post bg2">
		<div class="inner">
			<div class="postbody">
				<h3>{L_PREVIEW}{L_COLON} {TITLE}</h3>
				<div class="content">{PREVIEW_MESSAGE}</div>
			</div>
		</div>
	</div>
	<!-- IF .article_sources -->
	<div class="post bg1">
		<div class="inner">
			<div class="postbody">
				<h3>{L_SOURCES}</h3><br>
				<div class="content">
					<ul>
						<!-- BEGIN article_sources -->
						<li><a href="{article_sources.SOURCE}">{article_sources.SOURCE}</a></li>
						<!-- END article_sources -->
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- ENDIF -->
<!-- ENDIF -->

<form id="postform" method="post" action="{U_ACTION}">
<div class="panel" id="postingbox">
	<div class="inner">
		<h3>{L_EDIT_WIKI}</h3>
		<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
		<fieldset class="fields1">
			<dl style="clear: left;">
				<dt><label for="title">{L_TITLE}{L_COLON}</label></dt>
				<dd><input type="text" name="title" id="title" size="100" tabindex="1" value="{TITLE}" class="inputbox autowidth" required /></dd>
			</dl>
			<dl>
				<dt><label for="article_description">{L_ARTICLE_DESCRIPTION}{L_COLON}</label><br>{L_ARTICLE_DESCRIPTION_EXPLAIN}</dt>
				<dd><textarea name="article_description" id="article_description" tabindex="2" maxlength="255" rows="3" cols="100" class="inputbox autowidth">{ARTICLE_DESCRIPTION}</textarea></dd>
			</dl>
		<!-- INCLUDE posting_buttons.html -->

			<div id="smiley-box" class="smiley-box">
			<!-- IF .smiley -->
				<strong>{L_SMILIES}</strong><br />
				<!-- BEGIN smiley -->
					<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
				<!-- END smiley -->
			<!-- ENDIF -->
			<!-- IF S_SHOW_SMILEY_LINK -->
				<br /><a href="{U_MORE_SMILIES}" onclick="popup(this.href, 750, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a>
			<!-- ENDIF -->
				<div class="bbcode-status">
					<!-- IF .smiley --><hr /><!-- ENDIF -->
					{BBCODE_STATUS}<br />
					<!-- IF S_BBCODE_ALLOWED -->
						{IMG_STATUS}<br />
						{FLASH_STATUS}<br />
						{URL_STATUS}<br />
					<!-- ENDIF -->
					{SMILIES_STATUS}
				</div>
			</div>

			<div id="message-box" class="message-box">
				<textarea name="message" id="message" rows="15" cols="76" tabindex="3" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox" required>{MESSAGE}</textarea>
			</div>
			<dl>
				<dt><label for="sources">{L_SOURCES}{L_COLON}</label><br>{L_SOURCES_EXPLAIN}</dt>
				<dd><textarea name="sources" id="sources" rows="5" cols="76" tabindex="4"  class="inputbox">{SOURCES}</textarea></dd>
			</dl>
		</fieldset>
	</div>
</div>

<!-- IF S_AUTH_EDIT_TOPIC or S_AUTH_REDIRECT or S_AUTH_ACTIVATE or S_AUTH_STICKY -->
<div class="panel" id="postingbox">
	<div class="inner">
		<h3>{L_OPTIONS}</h3>

		<fieldset class="fields1">
			<!-- IF S_AUTH_EDIT_TOPIC -->
			<dl>
				<dt><label for="topic_id">{L_TOPIC_ID}{L_COLON}</label><br>{L_TOPIC_ID_EXPLAIN}</dt>
				<dd><input type="number" name="topic_id" id="topic_id" size="3" min="0" tabindex="5" value="{TOPIC_ID}" class="inputbox autowidth"></dd>
			</dl>
			<!-- ENDIF -->
			<!-- IF S_AUTH_REDIRECT -->
			<dl>
				<dt><label for="article_redirect">{L_SET_REDIRECT}{L_COLON}</label><br>{L_SET_REDIRECT_EXPLAIN}</dt>
				<dd><input type="text" name="article_redirect" id="article_redirect" tabindex="6" size="100" value="{ARTICLE_REDIRECT}" class="inputbox autowidth"></dd>
			</dl>
			<!-- ENDIF -->
			<!-- IF S_AUTH_ACTIVATE -->
			<dl>
				<dt><label for="set_active">{L_SET_ACTIVE}{L_COLON}</label></dt>
				<dd><input type="checkbox" name="set_active" id="set_active" tabindex="7" value="1"<!-- IF S_ACTIVE --> checked="checked"<!-- ENDIF -->></dd>
			</dl>
			<!-- ENDIF -->
			<!-- IF S_AUTH_STICKY  -->
			<dl>
				<dt><label for="set_sticky">{L_SET_STICKY}{L_COLON}</label></dt>
				<dd><input type="checkbox" name="set_sticky" id="set_sticky" tabindex="8" value="1"<!-- IF S_STICKY --> checked="checked"<!-- ENDIF -->></dd>
			</dl>
			<!-- ENDIF -->
		</fieldset>
	</div>
</div>
<!-- ENDIF -->
<div class="panel bg2">
	<div class="inner">
	<fieldset class="submit-buttons">
		{S_FORM_TOKEN}
		{S_HIDDEN_FIELDS}
		<dl>
			<dt><label for="edit_reason">{L_REASON_EDIT}{L_COLON}</label></dt>
			<dd><input type="text" name="edit_reason" id="edit_reason" size="100" tabindex="9" value="{EDIT_REASON}" class="inputbox autowidth"></dd>
		</dl>
		<input type="submit" tabindex="5" name="preview" value="{L_PREVIEW}" class="button1" onclick="document.getElementById('postform').action += '#preview';" />&nbsp;
		<input type="submit" accesskey="s" tabindex="6" name="submit" value="{L_SUBMIT}" class="button1 default-submit-action" />&nbsp;

	</fieldset>

	</div>
</div>
</form>
<!-- INCLUDE overall_footer.html -->
