<!-- INCLUDE overall_header.html -->
<h2>{HEADLINE}</h2>
<!-- IF DIFF_DESCRIPTION -->
<h3>{L_ARTICLE_DESCRIPTION}</h3>
<div class="panel bg1">
	<div class="inner wiki">
		<div class="content">
				{DIFF_DESCRIPTION}
		</div>
	</div>
</div>
<!-- ENDIF -->
<div class="panel bg1">
	<div class="inner wiki">
		<div class="content diff">
			<!-- IF DIFF -->
				{DIFF}
			<!-- ELSE -->
				{L_NO_ARTICLE_DIFF}
			<!-- ENDIF -->
		</div>
	</div>
</div>
<!-- IF DIFF_SOURCE -->
<h3>{L_SOURCES}</h3>
<div class="panel bg1">
	<div class="inner wiki">
		<div class="content">
				{DIFF_SOURCE}
		</div>
	</div>
</div>
<!-- ENDIF -->
<!-- INCLUDE overall_footer.html -->